@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800;900&display=swap');

body {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    height: 1px;
    width: 0.2rem;
}

*::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: transparent/*#ebecec*/;
    border-radius: 0px 99999px 0px 99999px;
    border-left-width: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #bbe0f5 /* rgb(206, 202, 202)*/;
}

*::-webkit-scrollbar-button {
    display: none;
}

.AuthenticatedLayout {
    .ant-menu-sub {
        background-color: #f5f5f5;
    }

    .ant-layout-sider-collapsed {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .custom-sider>.ant-layout-sider-children {
        display: grid;
    }
}



.UnauthenticatedTopbarMenu>.ant-menu-horizontal>.ant-menu-item::after,
.UnauthenticatedTopbarMenu>.ant-menu-horizontal>.ant-menu-item:hover::after,
.UnauthenticatedTopbarMenu>.ant-menu-horizontal>.ant-menu-item-selected::after {
    border-bottom: none
}